:root {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://img.vixdata.io/pd/webp-large/es/sites/default/files/e/enamorate-mas-de-bogota-con-estos-hermosos-paisajes.jpg');
  background-size: cover;
}


.contact-card {
  width: 18em;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  line-height: 2.5em;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 1em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.125);
  overflow: hidden;
  transition: 0.125s ease-in-out;
  -webkit-transition: 0.125s ease-in-out;
  -moz-transition: 0.125s ease-in-out;
}
.contact-card:hover {
  transform: translateY(-0.5em);
}
.contact-card__header-image {
  width: 100%;
  height: 6em;
  padding-top: 2em;
  /* background-image: url("https://images.unsplash.com/photo-1525498128493-380d1990a112?ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80"); */
  background-size: cover;
  background-color: #d60c0c;
}
.contact-card__avatar {
  width: 6em;
  height: 6em;
  margin: auto;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2e/Escudo_UD.svg");
  background-size: cover;
  background-color: #EEEEEE;
  border-radius: 100%;
}
.contact-card__name {
  margin-top: 3em;
  margin-bottom: .5em;
  font-size: 1.125rem;
}
.contact-card__link {
  display: block;
  padding: .5em 1em;
  text-decoration: none;
}
.contact-card__link a {
  color: #424242;
  text-decoration: none;
}
.contact-card__link:hover {
  background-color: #FAFAFA;
}
.contact-card__footer {
  margin-top: .5em;
  padding: 1em 0;
  background-color: #FAFAFA;
}
.contact-card__footer__link {
  display: inline-block;
  margin-right: 1em;
  font-size: 1.125rem;
  transition: 0.125s ease-in-out;
  -webkit-transition: 0.125s ease-in-out;
  -moz-transition: 0.125s ease-in-out;
}
.contact-card__footer__link a {
  color: #424242;
}
.contact-card__footer__link--dribbble {
  margin-right: 0;
}
.contact-card__footer__link:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
}